.teams {
  display: flex;
  height: 100vh;
  width: 100%;
}

.side-bar-t {
  flex: 1;
}

.right-side-team {
  flex: 5;
  padding: 0 20px;
}

.user-and-loader {
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-and-2 {
  width: 50%;
}

.employ {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  width: 34%;
  border: 1px solid rgb(212, 116, 116);
  border-radius: 7px;
  padding: 0px 2px;
  overflow: hidden;
}

.emp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 20px;
  gap: 2rem;
  padding: 10px;
  /* border-radius: 7px; */
  padding: 20px;
  border-bottom: 1px solid rgb(231, 146, 146);
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
  /* background: rgba(0, 0, 0, 8%); */
  /* backdrop-filter: blur(120px); */
  /* background-color: black; */
  /* backdrop-filter: blur(20px); */
}

.emp > :nth-child(1) {
  /* background: red; */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.team-leade-container {
  margin: 20 0px;
  margin-bottom: 20px;
}

.users-image-container {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(189, 226, 121);
  border-radius: 50%;
}

.team-leade-container > p {
  color: rgb(128, 179, 11);
}

.new-style-user {
  margin-top: 2rem;
}

.team-leade-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  width: 250px;
}
.selected > :nth-child(1) {
  width: 100%;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: 1px solid red;
  border-radius: 7px;
  color: rgb(228, 14, 85);
  font-size: 16px;
}

.task-user-container {
  align-self: center;
}

.add-task-button {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

.add-task-button > button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: rgb(37, 51, 58);
  font-size: 14px;
  font-weight: 500;
  font-size: 16px;
}

.team-right-side-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.loder-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.loder-container .card {
  position: relative;
  width: 220px;
  height: 250px;
  /* background-color: #2a2a2a; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.loder-container .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.loder-container .card .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.loder-container .card .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 4;
  stroke: #e32d6d;
  transform: translate(5px, 5px);
}

.loder-container .card .percent svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  /* stroke-dasharray: 275;
  stroke-dashoffset: 275; */
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot {
  position: absolute;
  z-index: 10;
  inset: 5px;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.dot::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--clr);
  top: -5px;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);

  transform: translateX(-50%);
}

.number {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
  line-height: 5px;
}

.number h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: White;
  font-weight: 700;
  font-size: 2.5rem;
}

.number h3 span {
  font-weight: 300;
  color: #d6385d;
  font-size: 0.7rem;
}

.number p {
  font-weight: 300;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-top: 5px;
  color: rbga(255, 255, 255, 0.75);
  letter-spacing: 2px;
}

.team-add-user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.add-user-btn {
  width: 150px;
  height: 40px;
  border: 2px solid rgb(107, 109, 110);
  border-radius: 8px;
  color: black;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  font-size: 16px;
}

.ul-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  list-style: none;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  gap: 1.1rem;
  min-height: 120px;
}

.user-card-container {
  display: flex;
  gap: 1.4rem;
  justify-content: flex-start;
  align-items: center;
  line-height: 5px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-name {
  color: #7a7a7a;
  font-weight: 600;
  font-size: 14px !important;
}

.user-designation {
  font-size: 11px;
  font-weight: 400;
  color: #e2d8f0;
}

.prev-btn {
  background-color: transparent;
  border: 1px solid #f2977c;
  height: 22px;
  width: 40px;
}

.number-btn {
  background-color: transparent;
  border: 1px solid #f2977c;
  height: 22px;
}

.admin-teams-con {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.admin-teams-con > h4 > span {
  font-size: 25px;
  font-weight: 800;
  color: #e32d6d;
  margin-left: 10px;
}

.team-card-inadmin {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
}

.team-name > span {
  font-size: 23px;
  font-weight: bold;
  color: #e32d6d;
}

.admin-team-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.team-leader-task-collaps {
  margin: 25px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
  border-radius: 10px;
}
