form {
  display: flex;
  flex-direction: column;
}

.actual-sub-btn {
  width: 170px;
  height: 34px;
  align-self: flex-end;
  background-color: #d1c24b;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: 600;
}
