.edit-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.edit-input-container > input {
  width: 100%;
  height: 35px;
  border-radius: 7px;
  border-color: brown;
}

.edit-btn {
  width: 120px;
  height: 35px;
  background-color: #bfbd3d;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.edit-selected {
  width: 100%;
  height: 35px;
  border-radius: 7px;
  border: 1px solid #f5bf36;
}
