.search-dark-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(37, 51, 58);

  height: 10%;
}

.search-dark-container > :nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #151a4d;
  height: 45%;
  width: 250px;
  border-radius: 7px;
  margin-top: 20px;
  overflow: hidden;
}

.search {
  background-color: transparent;

  font-size: 16px;
  height: 60%;
  border: none;
  outline: none;
}
.search-icon {
  margin-left: 8px;
  font-size: 10px;
  height: 100%;
  color: white;
  background-color: #151a4d;
  width: 19%;
}

.search-dark-container > :nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 30px;
  width: 100px;
}

.header-icons {
  font-size: 20px;
  color: rgb(37, 51, 58);
  /* fill: rgb(37, 51, 58); */
}
