.reset-form {
  width: 40%;
  border: 1px solid #f5bf36;
  padding: 20px;
  border-radius: 8px;
}

.reset-msg {
  color: #eba834;
  font-style: italic;
  font-size: 16px;
  line-height: 0.5px;
  text-decoration: none;
}
