.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #f5bf36;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.login-img {
  width: 400px;
  height: auto;
}

.form-heading {
  color: #f5bf36;
  font-weight: bold;
  font-size: 24px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
}

.login-btn {
  background-color: #f5bf36;
  height: 35px;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  font-weight: 500;
}

.already-sign {
  color: #cfb6f2;
}

.reset-pass {
  color: #f5bf36;
}
